@font-face {
    font-family: "Centrale Sans";
    src: url("/src/assets/fonts/CentraleSans-Regular.woff2") format("woff2"),
         url("/src/assets/fonts/CentraleSans-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }
  